<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% for metaname, metavalue in meta %}
    {% if metaname matches '/^og/' %}
    <meta property="{{metaname}}" content="{{metavalue}}" />
    {% else %}
    <meta name="{{metaname}}" value="{{metavalue}}" />
    {% endif %}
    {% endfor %}

    <!-- publish javascript variable -->
    <script>
        var global = {{global|json_encode|raw}}
    </script>

    <!-- Include registered css -->
    {% for cssfile in css.external %}
    <link rel="stylesheet" href="{{cssfile}}" />
    {% endfor %}

    {% for cssfile in css.internal %}
    <link rel="stylesheet" href="{{assetUrl}}css/{{cssfile}}" />
    {% endfor %}
</head>
<body>
    {% block body %}{% endblock %}

    <!-- Include registered javascript -->
    {% for jsfile in js.external %}
    <script src="{{jsfile}}"></script>
    {% endfor %}

    {% for jsfile in js.internal %}
    <script src="{{assetUrl}}js/{{jsfile}}"></script>
    {% endfor %}
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        
        ga('create', 'UA-58892769-1', 'auto');
        ga('send', 'pageview');
    </script>
    
</body>
</html>